/* Parallax */

.parallax {
  z-index: 4;
  position: relative;
  overflow: hidden;
  min-height: 25vh;
  display: grid;
  grid-template-areas: "stack";
  height: 110vh;
  margin: -15vh;
  margin-top: -16vh;
}

.parallax > * {
  grid-area: stack;
}

.parallax > .parallax__back, .parallax >.parallax__first ,.parallax > .parallax__deuxieme,.parallax > .parallax__terril{
  width: 130%;
  max-width: none;
  object-fit: contain;
  margin-left: -15%;
  margin-right: -15%;
  margin-top: -10%;
}

.parallax__back, .parallax__back2 {
  --parallax-speed: 4;
  --direction-x: 1;
  --direction-y: 1;
  z-index: 2;
  object-fit: cover;
  height: 100%;
  background-repeat: repeat;
  max-width: 95%;
  filter: blur(2px);
  filter: grayscale(0%);
  --flou: 4;
}

/* 🌙 */
body:has(#nuit_jour:checked) .parallax{
  filter: grayscale(15%);
  transition: opacity 2s;
}

.parallax__first {
  --parallax-speed: 7;
  z-index: 5;
  --direction-x: 1;
  --direction-y: 1;
  --flou: 1;
}

.parallax__deuxieme {
  --parallax-speed: 6;
  z-index: 4;
  --direction-x: 1;
  --direction-y: 1;
  --flou: 2;
}

.parallax__terril {
  --parallax-speed: 5;
  z-index: 3;
  --direction-x: 1;
  --direction-y: 1;
  --flou: 3;
}

.parallax__loupe1 {
  --parallax-speed: 11;
  z-index: 19;
  --direction-x: 1;
  --direction-y: 1;
  --flou: 2;
  margin-top: -6vh;
}

.parallax__loupe2 {
  --parallax-speed: 11;
  z-index: 11;
  --direction-x: 1;
  --direction-y: 1;
  --flou: 1;
  margin-top: -6vh;
}

/* Responsive Parallaxe Mobile 1 */
@media (max-width: 768px) {
  .parallax{
    margin-top: -3vh;
    height: 90vh;
  }
}
/* Responsive Parallaxe Mobile 2 */
@media (max-width: 468px) {
  .parallax{
    margin-top: -3vh;
    height: 60vh;
  }
}

/* Structure Générale */

html {
  background-color: #ebebeb;
  scroll-behavior: smooth;
}

/* ☀️ */
body {
  color: #f4f4f4;
  margin: 0;
  font-size: 1.25rem;
  overflow-x: hidden;
  line-height: 1.6;
  font-family: 'Rubik', sans-serif;
}


/* 🌙 */
body:has(#nuit_jour:checked) {
  background-color: #111;
  color: #ffffff;
}



/* Header & Nav */

/* ☀️ */
header {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #f4f4f4;
  color: white;
  position: sticky;
  transition: background-color 0.7s ease, top 0.2s ease-in-out;
  height: 8vh;
}

/* 🌙 */
header:has(#nuit_jour:checked) {
  background-color: #111;
  color: #ffffff;
  transition: background-color 0.7s ease;
}

img {
  display: block;
  max-width: 100%;
}

.flex-group {
  display: flex;
  gap: 1rem;

}

.container {
  width: 200%;
}

.button {
  font: inherit;
  font-style: italic;
  text-transform: uppercase;
  background: hsl(279, 75%, 59%);
  padding: 1em 2em;
  border: 0;
  border-radius: 0.125em;
  box-shadow: 1px 1px 3px whitesmoke;
}

.logo {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: -1vh;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1vh;
  margin-left: 1vw;
  object-fit: contain;
  height: 8vh;
  transition: opacity 0.7s ease;
}

.logo .white {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease, visibility 0.7s ease;
}

.logo .black {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.7s ease, visibility 0.7s ease;
}

/* Responsive logo Mobile 1 */
@media (max-width: 768px) {
  .logo .white, .logo .black {
    transform: scale(0.8);
    margin-left: 3.5vw;
  }
}
/* Responsive logo Mobile 1 */
@media (max-width: 468px) {
  .logo .white, .logo .black {
    transform: scale(0.4);
    margin-left: 1vw;
    top: 10%;
  }
}

/* 🌙 */
body:has(#nuit_jour:checked) .logo .white {
  opacity: 1;
  visibility: visible;
}
/* 🌙 */
body:has(#nuit_jour:checked) .logo .black {
  opacity: 0;
  visibility: hidden;
}


.titre {
  z-index: 13;
  margin-block-start: max(20vh, 8rem);
  margin-left: 7vw;
  opacity: 90%;
  width: 50%;
}

.titre_principal {
  font-size: 8rem;
  max-width: 10ch;
  line-height: 1;
  font-style: italic;
  position: relative;
  text-shadow: 3px 3px 5px rgb(53, 187, 60);
  margin-top: 15vh;
  margin-left: -16vw;
  font-family: 'Rubik', sans-serif;
  text-align: right;


  > span {
    font-style: normal;
    font-size: 0.5em;
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    scale: 2;
    opacity: 0.5;
    filter: blur(5rem);
    translate: -50%;
  }
}
/* Responsive titre Mobile 1 */
@media (max-width: 768px) {
  .titre_principal{
    transform: scale(0.6);
    top:-30%;
    right: -8%;
  }
}

/* Responsive titre Mobile 2 */
@media (max-width: 468px) {
  .titre_principal{
    transform: scale(0.4);
    top: -50%;
    right: -20%;
  }
}

nav {
  flex: 1;
  display: flex;
  justify-content:center;
  margin-top: 1.5vh;
  gap: 30px;
}

/* ☀️ */
nav a {
  margin-bottom: -2vh; 
  margin-top: 1rem;
  margin-right: 0.5vw;
  text-decoration: none;
  color: rgb(13, 14, 13);
  font-size: 18px;
  font-weight: 400;
  transition: color 0.2s ease,text-decoration 0.2s ease,font-size 0.5s ease;
  text-align: center;
  align-self: center;
  margin-bottom: -1vh;
}

/* 🌙 */
body:has(#nuit_jour:checked) nav a {
  color: white;
}

/* ☀️ */
nav a:visited{
  color: #5f3615;
  font-weight: 900;
  transition: color 0.2s ease,text-decoration 0.2s ease,font-size 0.5s ease;
}

/* 🌙 */
body:has(#nuit_jour:checked) nav a:visited {
  color: rgb(141, 141, 141);
}

/* ☀️ */
nav a:hover {
  color: #64e168bb;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 9px; 
  font-size: 25px;
  margin-bottom: -1vh;
  transition: color 0.2s ease,text-decoration 0.2s ease,font-size 0.2s ease-out
}

/* 🌙 */
body:has(#nuit_jour:checked) nav a:hover {
  color: rgb(63, 193, 70);
}

/* ☀️ */
.login {
  background-color: #64e168bb;
  color: white;
  font-weight: 500;
  padding: 10px 20px;
  margin-left: 4px;
  border-radius: 2px;
  border: none;
  font-size: 15px;
  font-family:'Fira Sans';
  cursor: pointer;
  transition: color 0.3s ease-in, background-color 0.3s ease-out, padding 0.3s ease-in;
}

/* Responsive login Mobile 1 */
@media (max-width: 768px) {
  .login{
  margin-right: 1.5vw;
  margin-right: 6vw;
  transform: scale(0.8);
  }
}

/* Responsive login Mobile 2 */
@media (max-width: 468px) {
  .login{
  margin-right: -10vw;
  margin-top: 2vh;
  transform: scale(0.6);
  }
}


/* 🌙 */
body:has(#nuit_jour:checked) .login {
  color: rgb(11, 11, 11);
  background-color: #f4f4f4;
  box-shadow: 1px 1px 10px white;
  transition: color 0.2s ease-in, background-color 0.3s ease-out, padding 0.3s ease-in;
}

/* ☀️ */
.login:hover {
  background-color: #f4f4f4;
  margin-left: 0px;
  color: rgb(69, 151, 94);
  border: 2px solid #6fb757;
  box-shadow: 1px 1px 15px #519595;
  transition: box-shadow 0.4s ease-out, color 0.4s ease-in, border 0.4s ease-in;
}

/* 🌙 */
body:has(#nuit_jour:checked) .login:hover {
  color: #f4f4f4;
  background-color: #64e168bb;
  box-shadow: 1px 1px 10px #64e168bb;
  transition: color 0.2s ease-in, background-color 0.3s ease-out, padding 0.3s ease-in;
}

/* Responsive Nav Mobile 1 */
@media (max-width: 768px) {
  nav {
    align-items: center; 
    gap: 10px; 
    margin-top: 0vh;
    margin-left: 6vw;
  }

  nav a {
    font-size: 1.6vw; 
    text-align: center;
    transition: color 0.2s ease, text-decoration 0.2s ease, font-size 0.3s ease;
  }

  nav a:hover {
    font-size: 18px; 
    margin-bottom: 0;
  }
}

/* Responsive Nav Mobile 2 */
@media (max-width: 468px) {
  nav {
    align-items: center; 
    gap: 6px; 
    margin-top: 0vh;
    margin-right: -8vw;
  }

  nav a {
    font-size: 1.6vw; 
    text-align: center;
    transition: color 0.2s ease, text-decoration 0.2s ease, font-size 0.3s ease;
  }

  nav a:hover {
    font-size: 18px; 
    margin-bottom: 0;
  }
}

/* Histoire  */

.presentation {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  z-index: 3;
  margin-top: 15vh;
  padding: 50px;
  text-align: center;
  background-color: #8fea92; 
  color: #333; 
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease;
  position: relative;
  transition: color 0.2s ease-in, background-color 0.3s ease-out, padding 0.3s ease-in;
}

.presentation::before, .presentation::after {
  content: '';
  position: absolute;
  background-color: transparent; 
  z-index: -1; 
}


.presentation::before {
  border-left: 30px solid transparent; 
  border-top: 30px solid #4a934d;
  top: 30px;
  left: 20px;
  transform: rotate(270deg) scale(3);
}


.presentation::after {
  border-right: 30px solid transparent; 
  border-bottom: 30px solid #4a934d; 
  bottom: 30px; 
  right: 10px; 
  transform: rotate(270deg) scale(3);
}

/* 🌙  */
body:has(#nuit_jour:checked) .presentation {
  color: #f4f4f4e1;
  background-color: #111; 
  border-bottom: 1px solid white; 
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3); 
  transition: color 0.2s ease-in, background-color 0.3s ease-out, padding 0.3s ease-in; 
}

.presentation h1 {
  font-size: 2.5rem; 
  margin-bottom: 20px;
  margin-top: -3vh;
  font-family: 'Fira Sans'; 
  font-weight: 700; 
  color: #000000; 
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); 
}

/* Style du bouton */
.presentation button {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  right: 11%;
  margin-top: 1vh;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #4caf50, #212121);
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Effet de survol */
.presentation button:hover {
  background-image: linear-gradient(135deg, #212121, #4caf50); /* Inverse le dégradé au survol */
  transform: scale(1.05); /* Déplace légèrement le bouton vers le haut */
  transition: all 0.4s ease-in-out;
}



/* 🌙  */
body:has(#nuit_jour:checked) .presentation h1 {
  color: white;
  text-shadow: 1px 1px 2px #f1f1f1;
}

.presentation p {
  font-size: 1.2rem;
  color: #333; 
  border-radius: 8px;
  font-weight: 300; 
  line-height: 1.6; 
  padding: 10px; 
  font-family: 'Fira Sans';
  transition: color 0.3s ease, background-color 0.3s ease; 
}

/* 🌙 */
body:has(#nuit_jour:checked) .presentation p {
  background-color: #333; 
  color: #f4f4f4e1; 
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* ☀️ */
.presentation:hover {
  transform: translateY(-5px); 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); 
}

/* 🌙  */
body:has(#nuit_jour:checked) .presentation:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.3); 
}

/* Responsive Presentation Mobile 1 */
@media (max-width: 768px) {
  .presentation {
    z-index: 999;
    margin-top: -30vh ;
    min-height: 25vh; 
    padding: 30px; 
    text-align: center;
    background-color: #64e168bb; 
  }

  .presentation h1 {
    margin: 0; 
    font-size: 2rem; 
    line-height: 1.2; 
  }

  .presentation p {
    font-size: 16px; 
    margin-top: 10px; 
    margin-right: 3vw;
    margin-left: 3vw;
    background-color: #cee0cf9e;
  }
}

/* Responsive Presentation Mobile 2 */
@media (max-width: 468px) {
  .presentation {
    margin-top: -15vh; 
    text-align: center;
    background-color: #64e168bb; 
  }

  .presentation h1 {
    margin: 0; 
    font-size: 2rem; 
    line-height: 1.2; 
  }

  .presentation p {
    font-size: 16px; 
    margin-top: 10px; 
    margin-right: 0vw;
    margin-left: 3vw;
  }
}


/* Escargot Principaux */

.escargots {
  display: flex;
  justify-content: space-between;
  gap: 3%;
  width: 100%;
  max-width: 70vw;
  max-height: 50vh;
  padding: 50px;
  margin: 0 auto;
}


.escargot {
  position: relative;
  width: 30%;
  margin-top: 4vh;
  background-color: #f4f4f4;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  aspect-ratio: 1;
}

.escargot:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 20px #1f1f1f;
}

.escargot img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.escargot h3 {
  margin: 5%;
  color: #262626;
}

.escargot .detail {
  position: absolute;
  font-family:'Fira Sans', sans-serif ;
  bottom: -200%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  transition: bottom 0.3s ease;
}

.escargot:hover .detail {
  bottom: -10%;
}

.escargot button {
  display: block;
  margin: 20px 20px 20px auto; 
  text-align: center;
  padding: 5px 10px;
  background-color: #64e168bb;
  color: white;
}

.bouton_escargot {
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: -4vh;
  padding: 10px 20px;
  background-color: #64e168bb;
  color: rgb(0, 0, 0);
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(37, 70, 25, 0.4);
  transition: background-color 0.4s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.bouton_escargot a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
}

.bouton_escargot a:visited {
  color: #3D2217;
  text-decoration: none;
}

.bouton_escargot a:hover {
  color: #64a968d0;
  text-decoration: none;
}

.bouton_escargot:hover {
  background-color: #f4f4f4;
  color: #000;
  transform: scale(1.05);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.escargot p button{
  background-color: #000;
  
}

.escargot p button:hover{
  background-color: #3cc727;
}

.escargot p a{
  text-decoration: none;
}


/* Responsive Escargots Mobiles 1 */

@media (max-width: 768px) {
  .escargots {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 3vw; 
    width: 100%;
    padding: 30px;
    margin-bottom: 4vh;
  }

  .escargot {
    width: 45%; 
    margin-top: 2vh; 
    aspect-ratio: 1;
  }

  .escargot img {
    height: 80%; 
  }

  .escargot h3 {
    font-size: 1.4rem; 
  }

  .escargot .detail {
    font-size: 13px; 
    padding: 10px; 
  }

  .escargot button {
    padding: 7px 15px; 
    font-size: 1.2rem; 
  }

  .bouton_escargot {
    font-size: 18px; 
    padding: 10px 20px; 
  }
}

/* Responsive Escargots Mobiles 2 */
@media (max-width: 480px) {
  .escargots {
  width: 100%; 
  margin-top: 2vh; 
  aspect-ratio: 1; 
  margin: 0 auto; 
  height: 100%;
}

.escargot .detail {
  position: absolute;
  bottom: -2000%;
}

.escargot h3 {
  font-size: 0.8rem; 
}

.bouton_escargot:hover {
  background-color: #64e168bb;
  color: white;

  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}
}


/* Calendrier */

.calendrier{
  margin-bottom: 0vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  height: 100%;
  width: 90vw;
}

.calendrier ol {
	list-style: none;
	padding: 1.5rem;
	border: 0.1rem solid lightgrey;
	columns: 16vw;
	column-rule: 0.2rem dashed rgb(30, 30, 30,0.3);
	border-radius: 0.5rem;
}

.calendrier h1{
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: -2vh;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 35px;
}

/* 🌙 */
body:has(#nuit_jour:checked) .calendrier h1 {
  color: #f4f4f4e1;
  background-color: #111;
  transition: background-color 0.7s ease, color 0.7s ease;
}

.calendrier li {
	--y: calc(100% - 2rem);
	display: grid;
	grid-template-columns: minmax(3.75em, auto) 1fr;
	gap: 0 0.5em;
	background-color: #000000d3;
	color: white;
	border-radius: 0.75rem ;
	overflow: hidden;
  transition: height 0.3s ease, transform 0.3s ease;
  box-shadow: 2px 2px 10px rgba(46, 47, 46, 0.833);
}

.calendrier li:hover {
  background-color: #64e168bb;
  color: black;
  height: calc(100% + 10vh);
  transform: scale(1.04);
  box-shadow: 2px 2px 10px rgba(28, 100, 10, 0.833);
}

.calendrier li + li {
	margin-top: 1rem;
}

.calendrier li img {
  width: 100%;
	grid-column: 1 / 3;
	grid-row: 1;
	aspect-ratio: 1.7;
	object-fit: cover;
}

.calendrier li span {
  width: 100%;
	grid-column: 1/2;
  display: flex;
  justify-content: center;
}

.calendrier li span:first-of-type {
	font-size: 1.5em;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}

.calendrier li span:last-of-type {
	font-style: italic;
	padding-bottom: 1rem;
}

.calendrier .divider {
	background: lavender;
	min-height: 6rem;
	padding: var(--pad) 0;
	width: 100vw;
	margin-left: 50%;
	transform: translate3d(-50%, 0, 0);
}

.calendrier .divider a {
	text-decoration: none;
	display: inline-block;
	background: turquoise;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	font-size: 1.2rem;
	font-weight: 700;
}

.calendrier .divider * + * {
	margin: 1.5rem 0 0 0;
}

.calendrier .divider p {
	font-size: 1.4rem;
}

/* Responsive Calendrier Mobile 1 */

@media (max-width: 768px) {
  .calendrier {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vh;
    height: 100%;
  }

  .calendrier ol {
    columns: 1;
    padding: 1rem;
  }

  .calendrier li {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .calendrier li img {
    aspect-ratio: 1.2;
  }

  .calendrier li span:first-of-type {
    font-size: 5vw;
    text-align: center;
  }

  .calendrier li span:last-of-type {
    font-size: 1em;
  }

  .calendrier h1 {
    text-align: center;
  }

  .calendrier h2 {
    font-size: 2.5rem;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
  }

  .calendrier .divider {
    margin-left: 0;
    transform: none;
    width: 100%;
  }

  .calendrier .divider p {
    font-size: 1.2rem;
  }

  .calendrier .divider a {
    font-size: 1rem;
  }
}

/* Responsive Calendrier Mobile 2 */

@media (max-width: 480px) {
  .calendrier {
    margin-left: 1vw;
    margin-right: 1vw;
    height: 370vh;
  }

  .calendrier ol {
    columns: 1;
  }

  .calendrier h1 {
    text-align: center;
  }

  .calendrier h2 {
    font-size: 2rem;
    margin-top: 2vh;
  }

  .calendrier li {
    grid-template-columns: 1fr;
    padding: 0.5rem;
  }

  .calendrier li img {
    aspect-ratio: 1.5;
  }

  .calendrier li span:first-of-type {
    font-size: 1em;
  }

  .calendrier li span:last-of-type {
    font-size: 0.9em;
  }
}

.boutton_createur {
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: -3vh;
  padding: 10px 20px;
  background-color: white;
  color: rgb(234, 222, 222);
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(37, 70, 25, 0.4);
  transition: background-color 0.4s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.boutton_createur a {
  color: #118015bb;
  text-decoration: none;
  font-size: 20px;
}

.boutton_createur a:visited {
  color: #333333;
  text-decoration: none;
}

.boutton_createur a:hover {
  color: #118015bb;
  text-decoration: none;
}

.boutton_createur:hover {
  background-color: #f4f4f4;
  color: #000;
  transform: scale(1.05);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}
/* Footer */

.footer {
  position: relative;
  z-index: 8;
  background-image: 
    linear-gradient(to bottom, rgba(0, 1, 1, 0.2) 0%, rgba(0, 0, 0.2, 0.5) 60%, rgba(0, 0.5, 0, 2) 100%), url('images/footer_claire.svg');
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: -1vh;
  display: grid;
  background-position: center;
  background-size: cover;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  box-shadow: 3px 3px 10px #111;
  gap: 20px;
  padding: 50px;
}

/* 🌙 */
body:has(#nuit_jour:checked) .footer{
  background-image: 
    linear-gradient(to bottom, rgba(0, 1, 1, 0.2) 0%, rgba(0, 0, 0.2, 0.5) 60%, rgba(0, 0.5, 0, 2) 100%), url('images/footer.svg');
  color: #f4f4f4;
  box-shadow: 3px 3px 10px #f4f4f41a;
}

.haut-gauche {
  grid-column: 1;
  grid-row: 1;
  font-family: 'Fira Sans';
}

.haut-gauche h2 {
  margin-top: -1vh;
  margin-bottom: 1vh;
  font-size: 40px;
  font-weight: 1200;
  font-family: 'Rubik', sans-serif;
}

.haut-droit {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
}

.haut-droit img {
  width: 30%;
  object-fit: contain;
  margin-left: 0px;
}

.haut-droit p {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  margin-right: 1vw;
  margin-left: 1vw;
}

.bas-droit {
  margin-top: -10vh;
  margin-bottom: -2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.bas-droit h2 {
  margin-top: 8vh;
  font-size: 40px;
  font-weight: 1200;
}

.bas-droit a {
  margin: -1vh;
  text-align: center;
  font-family: 'Fira Sans';
  color: #f4f4f4;
  text-decoration: none;
}

.bas-droit a:hover {
  color: #64e168bb;
}

.bas-gauche {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  text-transform: uppercase;
}

.bas-gauche h3 {
  margin-top: 3vh;
  margin-left: 0vw;
  text-align: left;
}

/* Responsive Footer Mobile 1 */
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    margin-top: 0vh;
    padding-bottom: 10vh;
  }

  .haut-gauche, .haut-droit, .bas-gauche, .bas-droit {
    text-align: center;
    width: 100%;
    margin: 10px 0;
  }

  .haut-gauche h2, .haut-droit p, .bas-droit h2, .bas-gauche h3 {
    font-size: 20px; 
    margin: 10px 0;
  }

  .haut-droit img {
    width: 50%; 
    margin: 10px 0; 
  }

  .bas-droit {
    margin-top: 5vh;
  }

  .bas-gauche h3 {
    margin-left: 0; 
    text-align: center;
  }
}

footer {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 30px 10px;
  height: 8vh;
}

/* 🌙 */
body:has(#nuit_jour:checked) footer{
  background-color: #111;
}

footer p{
  margin-bottom: -2vh;
}

footer .Modalite{
  font-weight: 100;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 0vh;
  margin-top: -1vh;
  background-color: #f4f4f4;
  color: #111;

}

/* 🌙 */
body:has(#nuit_jour:checked) .Modalite{
  background-color: #111;
  color: #f4f4f4;
}


/* 🌙 */
body:has(#nuit_jour:checked) .copyright{
  background-color: #111;
  color: #f4f4f4;
}

footer .copyright{
  width: 100%;
  font-weight: 900;
  background-color: #f4f4f4;
  color: #111;
}

.copyright{
  padding: 10px;
  background-color: rgb(16, 16, 16);
  margin-top: 0vh;
  grid-column: 1 / -1;
  grid-row: 3;
  background-color: #111;
  padding: 5px 15px;
  text-align: center;
  font-size: 0.9em;
  font-weight: 200;
}

.footer h4{
  display: flex;
  text-align: center;
  background-color: black;
}

.pixl_escargot{
  width: 70%;
  height: 60%;
  min-width: 45%;
  object-fit: contain;
  margin-left: 5vw;
  margin-top: 5vh;
  border-radius: 4px;
  
}

.pixl_escargot:visited{
  transform: scale(1.0);
  box-shadow: 3px 3px 10px rgb(230, 230, 11);
  transition: transform 3ms ease-out, color 0.3s ease;
}

.pixl_escargot:hover{
  transform: scale(1.15);
  box-shadow: 3px 3px 10px rgba(235, 76, 8, 0.829);
  transition: transform 0.8s ease, color 0.3s ease-in;
  object-fit: cover;

}

.pixl_escargot:not(:hover) {
  transform: scale(1);
  box-shadow: 1px 1px 10px rgb(190, 190, 30);
  transition: transform 0.5s ease-in, color 1s ease-out;
  object-fit: cover;
  
}

.pixl_escargot:active{
  transform: scale(0.8);
  box-shadow: 1px 1px 10px rgb(230, 11, 11);
  transition: transform 1ms ease-in, color 0.2s ease;
  object-fit: cover;
}

.Reseaux,.Residence{
  font-size: 16px;
  font-weight:100;
  text-align: left;
  margin-left: 2vw;
}

.Reseaux{
  margin-top: 1vh;
  line-height: 3
}

.Residence{
  margin-left: 5vw;
  display: flex;
  font-size: 12px;
}

.Residence h3{
  font-weight: 200;
}

.localisation{
  max-width: 50px; 
  filter: invert(100%);
  object-fit: contain;
  margin-right: 2.5vw;
  margin-left: 0.5vw;
}

strong{
  font-weight:900;
}

.face{
  position: relative;
  object-fit: contain;
  max-width: 53px;
  margin-left: 5vw;
  margin-bottom: 1vh;
  
}

.insta{
  position: relative;
  object-fit: contain;
  max-width: 60px;
  margin-left: 5vw;
  margin-bottom: 1vh;
}

.x{
  fill: rgb(255, 255, 255);
  position: relative;
  object-fit: contain;
  max-width: 50px;
  margin-left: 5vw;
  margin-bottom: 1vh;
}

.x:hover{
  fill: red;
}

.reseaux1,.reseaux2,.reseaux3{
  display: flex;
  margin-top: 3vh;
}

/* Responsive Footer Mobile 1 */
@media (max-width: 768px) {
  footer{
    padding-bottom: 5vh;
  }
}

#nuit_jour {
  display: none;
}

/* Bouton Mode Claire / Sombre */
.nuit_jour_label {
  position: absolute;
  top: 25%;
  margin-left: -6vw;
  cursor: pointer;
  font-size: 1.5rem;
  user-select: none;
  padding: 0.5rem;
  background-color: #f1f1f1;
  border-radius: 50%;
  transition: background-color 1s ease, transform 1s ease-out;
  border: 1px solid transparent;
}

/* Responsive Jour / Nuit Mobile 1*/
@media (max-width: 468px) {
  .nuit_jour_label {
    padding: 0.2rem;
    font-size: 0.9rem;
    top: 45%;
    margin-left: -1vw;
  }
}

/* 🌙 */
#nuit_jour:checked + .nuit_jour_label:hover {
 background-color: #353535;
}


#nuit_jour:not(:checked) + .nuit_jour_label:hover {
  background-color: #c3c3c3;
}

/* 🌙 */
#nuit_jour:checked + .nuit_jour_label {
  background-color: #212020;
  color: #ffffff;
  transform: rotate(-40deg); 
  transition: background-color 1s, transform 1s ease, border 0.5s;
}

#nuit_jour:not(:checked) + .nuit_jour_label {
  background-color: #ebe1e1; 
  color: #000;
  transform: rotate(50deg); 
  transition: background-color 1s, transform 1s ease, border 0.5s; 
}

/* 🌙 */
#nuit_jour:checked ~  .presentation {
  background-color: #111;
  color: #ffffff;
}

/* 🌙 */
#nuit_jour:checked + .nuit_jour_label::before {
  content: "🌙"; 
  transition: content 1s ease-out; 
}


#nuit_jour:not(:checked) + .nuit_jour_label::before {
  content: "☀️"; 
  transition: content 1s ease-out; 
}